article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* General Elements */

* {
	margin: 0;
	padding: 0;
	outline: 0 none;
}

html {
	height: 100%;
}

@font-face {
	font-family: 'roboto_slab';
	src: url('../type/RobotoSlab-Light.ttf');
}

@font-face {
	font-family: 'roboto_bold';
	src: url('../type/RobotoSlab-Regular.ttf');
}

h1 {
	font-family: 'roboto_bold';
	font-size:40px;
	text-transform:uppercase;
	font-weight: 300;
}

h2 {
	font-family: 'roboto_bold';
	font-size:18px;
	text-transform:uppercase;
	font-weight: 300;
}

body {
	font-family: 'roboto_slab';
	color: #000;

	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

img {
	vertical-align: middle;
	border: 0 none;
}

a {
	padding-bottom: 5px;
	color: firebrick;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	position:relative;
	top:-2px;
}

p {
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

p:last-child {
	margin-bottom: 0;
}

p.intro {
	font-size: 24px;
}

ul {
	margin-bottom: 24px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.6;
	margin-left: 60px;
	margin-right: 60px;
	-webkit-font-smoothing: antialiased;
}

ul:last-child {
	margin-bottom: 0;
}

ul.intro {
	font-size: 24px;
}

.wrapper {
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 60px;
    padding-bottom: 2cm;
}

.posts-wrapper {
	max-width: 900px;
}

.question {
	margin-left: 40px; 
	padding:5px;
	border-width:1px;
	border-color:firebrick;
	border-style: solid solid solid solid;
 	height: 192px; width: 800px; overflow: auto;
 	font-size:18px;
}

.post {
}


.hidden {
    display: none;
}
.unhidden {
    display: table;
    position:relative;
/*    width:80%;
*/}

pre {
	background-color: #f5f5f5;
	color: #110000;
	border: 3;
	font-size:0.7em;
	line-height:1.2em;
	whitewhite-space: pre-wrap;       /* css-3 */  
	whitewhite-space: -pre-wrap;      /* Opera 4-6 */  
	whitewhite-space: -o-pre-wrap;    /* Opera 7 */  
	word-wrap: break-word;       /* Internet Explorer 5+ */  
	whitewhite-space: -moz-pre-wrap;  /* Older Versions of Mozilla */  
}